html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Inter, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #131d25;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    font-weight: 400;
    line-height: 1.4;
    font-size: 32px;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 90%;
    letter-spacing: .2px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
    color: inherit;
}

a .button-icon {
    width: 18px;
    height: 18px;
}


.section-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
}

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid;
    background: #fff;
    border-color: rgb(228 228 231);
    z-index: 50;
}

.secondary-button {
    border: 1px solid rgb(212 212 216) !important;
    background-color: #ffffff !important;
    color: rgb(24 24 27) !important;
}

.secondary-button:hover {
    background-color: #f3f5f9 !important;
}

header .container {
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

header .container #menuToggle {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

header .container .brand {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .2px;
}


header .container button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}


/* Mobile menu hidden by default */
#mobileMenu {
    width: 100%;
    padding: 0 24px 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transition: max-height 0.3s ease, opacity 0.25s ease;

}

#mobileMenu.show {
    max-height: 420px;
    opacity: 1;
    padding-bottom: 24px;
}


@media (prefers-reduced-motion: reduce) {
    #mobileMenu {
        transition: none;
    }
}

nav {
    padding-top: 16px;
    display: none;
    gap: 16px;
}

nav a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgb(63 63 70);
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

nav a#contact {
    border: 1px solid rgb(212 212 216);
    width: fit-content;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

nav a#contact .contact-icon {
    width: 18px;
    height: 18px;
}

nav a#contact:hover {
    background-color: #f3f5f9 !important;
}

#mobileMenu nav {
    display: flex;
    flex-direction: column;
}

/* HERO */
.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-size: contain;
}

.main-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-container .text-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.main-container .text-content .subtitle {
    font-weight: 700;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-size: 14px;
}

.main-container .text-content h1.name {
    font-weight: 400;
    line-height: 1.4;
    /* font-size: 40px; */
    font-size: 32px;
    margin-bottom: 0px;
}

.main-container .text-content h1 {
    font-weight: 400;
    line-height: 1.4;
    /* font-size: 44px; */
    font-size: 36px;
    margin-bottom: 20px;
}



.main-container .text-content h1 span {
    color: #5c6877;
    font-family: serif;
    font-style: italic;
    font-weight: 400;
}

.main-container .text-content .title {
    font-weight: 700;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
}

.main-container .text-content .links {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.main-container .text-content .links a {
    padding: 12px 16px;
    border-radius: 6px;
    background-color: #131d25;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 14px;
    line-height: 20px;
    min-width: 150px;
    max-width: 150px;
    gap: 8px;
    flex: 1;
}

.main-container .text-content .links a:first-child {

    transition: gap ease-in-out .2s;
}



.main-container .text-content .links a:first-child:hover {
    gap: 20px;
}


.two-by-two {
    display: grid;
    grid-template-columns: 1fr;
    /* stacked on mobile */
    gap: 16px;

}


.box {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;

}

.box1 img {
    border-radius: 12px;
}

.box2 {
    background-color: #f3f5f9;
    display: none;
}

.box2 .box-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.box2 .box-icon {
    width: 60px;
    height: 60px;
}

.box3 {
    background-color: #f3f5f9;
    display: none;
}

.box3 .box-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.box3 .box-icon {
    width: 60px;
    height: 60px;
}


.box4 {
    display: none;
}

.box4 img {
    border-radius: 12px;
}

/* Skills Section */



.skills-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.skills-section .skills-group .skills-title {
    line-height: 1.4;
    font-size: 18px;
    font-weight: 300;
    color: #5c6877;
    opacity: 60%;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.skills-section .pill-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-section .pill-row .pill{
    border: 1px solid rgb(212 212 216);
    background: #fff;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 999px;
}

/* About Section */
.about-section {
    background-color: #f3f5f9;
    
}

.about-section h2 {
    margin-bottom: 32px;
}

.about-section .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    align-items: start;
}

.about-section .main-container .about-image-content img{
    border-radius: 12px;
}

/* PROJECT SECTION */

.projects-wrapper{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1,1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
}

.project-card{
    background-color: #ffffff;
    border: 1px solid rgb(212 212 216);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);

    overflow: hidden; /* keeps image + border radius clean */
  transition: box-shadow .3s ease, transform .3s ease;
}

.project-card:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    transform: translateY(-2px);
}

.project-card .project-image{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgb(212 212 216);

    
}

.project-card .project-image img{
    display: block;  
    width: 100%;        
    object-fit: cover; 

    aspect-ratio: 16 / 9;
}

.project-card .project-body{
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-card .project-body h3{
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}

.project-card .project-body p{
    margin-bottom: 24px;
}

.project-card .project-body .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 24px;
    
}

.project-card .project-body .tags .tag{
    border: 1px solid rgb(212 212 216);
    background: rgba(212, 212, 216, 0.2);
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    border-radius: 999px;
}

.project-card .project-body .project-links{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.project-card .project-body .view-project-link{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    gap: 6px;
    text-decoration: none;
    color: #131d25;
    margin-top: auto;

}

.project-card .project-body .view-project-link:hover{
    opacity: 80%;

}

.project-card .project-body .view-project-link .link-icon{
    width: 18px;
    height: 18px;

}

/* FOOTER SECTION */
footer {
    border-top: 1px solid rgb(228 228 231);
    background-color: #f3f5f9;
}
footer .container {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    gap: 20px;
}

footer .container .brand {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2px;
}

footer .container .email-text{
    font-size: 16px;
    color: #131d25;
}

footer .container .email-text a{
    color: #131d25;
    font-weight: 500;
    text-decoration: underline;
}

.linkedin-social-container{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #131d25;
    font-weight: 500;
    
}

.linkedin-social-container .icon{
    width: 20px;
    height: 20px;
}

.linkedin-social-container .text-content{
    font-size: 16px;
}



@media (min-width: 640px) {

    .main-container .text-content h1.name {
        font-weight: 400;
        line-height: 1.4;
        font-size: 36px;
        margin-bottom: 0px;
    }

    .main-container .text-content h1 {
        font-weight: 400;
        line-height: 1.4;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .two-by-two {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        width: 100%;
    }

    .box2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .box3 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }



    .box4 {

        display: block;
    }

    /* Move left column (boxes 1 & 3) downward */
    .two-by-two .box:nth-child(1),
    .two-by-two .box:nth-child(3) {
        transform: translateY(20px);

    }
}

@media (min-width: 768px) {
    header #menuToggle {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .main-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
    }

    .main-container .text-content {
        width: 80%;
    }


    .two-by-two {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        width: 80%;
    }


    .skills-wrapper{
        width: 80%;
    }

    .about-section .main-container .about-image-content {
        width: 80%;
    }

    
    .projects-wrapper{
        width: 80%;
    }

    footer .container {
        width: 74%;
        flex-direction: row;
    }


}

@media (min-width: 1024px) {
    .main-container {
        flex-direction: row;
    }

    .main-container .text-content {
        width: 45%;
    }


    .two-by-two {
        width: 50%;
    }

    .skills-section .main-container {
        display: block;
    }

    .skills-section .main-container .text-content{
        width: 100%;
    }

    .skills-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        width: 100%;
    }

    .about-section .main-container .about-image-content {
        width: 40%;
    }

    .projects-section .main-container {
        display: block;
    }

    .projects-wrapper{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }

    footer .container {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .projects-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}