html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Inter, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-size: 16px;
    line-height: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a .button-icon {
    width: 18px;
    height: 18px;
}

section {
    max-width: 1536px;
    margin: 0 auto;
    padding: 16px 24px;
}

header {
    position: sticky;
    border-bottom: 1px solid;
    background: #fff;
    border-color: rgb(228 228 231);
    z-index: 50;
}

.secondary-button {
    border: 1px solid rgb(212 212 216) !important;
    background-color: #ffffff !important;
    color: rgb(24 24 27) !important;
}

.secondary-button:hover {
    background-color: rgb(212 212 216 / .2) !important;
}

header .container {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1536px;
    margin: 0 auto;
}

header .container #menuToggle {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

header .container .brand {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .2px;
}

header .container button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}


/* Mobile menu hidden by default */
#mobileMenu {
    width: 100%;
    padding: 0 24px 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transition: max-height 0.3s ease, opacity 0.25s ease;

}

#mobileMenu.show {
    max-height: 420px;
    opacity: 1;
    padding-bottom: 24px;
}


@media (prefers-reduced-motion: reduce) {
    #mobileMenu {
        transition: none;
    }
}

nav {
    padding-top: 16px;
    display: none;
    gap: 16px;
}

nav a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgb(63 63 70);
    cursor: pointer;
}

nav a#contact {
    border: 1px solid rgb(212 212 216);
    width: fit-content;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav a#contact .contact-icon {
    width: 18px;
    height: 18px;
}

nav a#contact:hover {
    background-color: rgb(212 212 216 / .2);
}

#mobileMenu nav {
    display: flex;
    flex-direction: column;
}

/* HERO */
.hero-container .text-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.hero-container .text-content .subtitle {
    font-weight: 700;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-size: 14px;
}

.hero-container .text-content h1 {
    font-weight: 400;
    line-height: 1.5;
    font-size: 44px;
    margin-bottom: 20px;
}

.hero-container .text-content .title {
    font-weight: 700;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
}

.hero-container .text-content .links {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.hero-container .text-content .links a {
    padding: 12px 16px;
    border-radius: 6px;
    background-color: rgb(24 24 27);
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 14px;
    line-height: 20px;
    min-width: 150px;
    max-width: 200px;
    gap: 8px;
    flex: 1;

}

/* .hero-container .image-context{
    
} */

.hero-container .image-context img {
    border-radius: 6px;
}

@media (min-width: 768px) {
    header #menuToggle {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero-container .text-content {
        width: 50%;
    }

    .hero-container .image-context{
        width: 50%;
        aspect-ratio: 4 / 5;
    }
}