html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Inter, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #131d25;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-size: 16px;
    line-height: 24px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a .button-icon {
    width: 18px;
    height: 18px;
}

/* section {
    max-width: 1536px;
    margin: 0 auto;
    padding: 16px 24px;
} */

.section-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
}

header {
    position: sticky;
    border-bottom: 1px solid;
    background: #fff;
    border-color: rgb(228 228 231);
    z-index: 50;
}

.secondary-button {
    border: 1px solid rgb(212 212 216) !important;
    background-color: #ffffff !important;
    color: rgb(24 24 27) !important;
}

.secondary-button:hover {
    background-color: rgb(212 212 216 / .2) !important;
}

header .container {
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

header .container #menuToggle {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

header .container .brand {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .2px;
}

header .container button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}


/* Mobile menu hidden by default */
#mobileMenu {
    width: 100%;
    padding: 0 24px 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transition: max-height 0.3s ease, opacity 0.25s ease;

}

#mobileMenu.show {
    max-height: 420px;
    opacity: 1;
    padding-bottom: 24px;
}


@media (prefers-reduced-motion: reduce) {
    #mobileMenu {
        transition: none;
    }
}

nav {
    padding-top: 16px;
    display: none;
    gap: 16px;
}

nav a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgb(63 63 70);
    cursor: pointer;
}

nav a#contact {
    border: 1px solid rgb(212 212 216);
    width: fit-content;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav a#contact .contact-icon {
    width: 18px;
    height: 18px;
}

nav a#contact:hover {
    background-color: rgb(212 212 216 / .2);
}

#mobileMenu nav {
    display: flex;
    flex-direction: column;
}

/* HERO */
.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-size: contain;
}

.hero-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-container .text-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.hero-container .text-content .subtitle {
    font-weight: 700;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-size: 14px;
}

.hero-container .text-content h1.name {
    font-weight: 400;
    line-height: 1.4;
    /* font-size: 40px; */
    font-size: 32px;
    margin-bottom: 0px;
}

.hero-container .text-content h1 {
    font-weight: 400;
    line-height: 1.4;
    /* font-size: 44px; */
    font-size: 36px;
    margin-bottom: 20px;
}



.hero-container .text-content h1 span {
    color: #5c6877;
    font-family: serif;
    font-style: italic;
    font-weight: 400;
}

.hero-container .text-content .title {
    font-weight: 700;
    letter-spacing: .25px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
}

.hero-container .text-content .links {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.hero-container .text-content .links a {
    padding: 12px 16px;
    border-radius: 6px;
    background-color: #131d25;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 14px;
    line-height: 20px;
    min-width: 150px;
    max-width: 150px;
    gap: 8px;
    flex: 1;
}

.hero-container .text-content .links a:first-child {

transition: gap ease-in-out .2s;
}



.hero-container .text-content .links a:first-child:hover {
    gap: 20px;
}


.two-by-two {
    display: grid;
    grid-template-columns: 1fr;
    /* stacked on mobile */
    gap: 16px;

}


.box {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    width: 100%;
    
}

.box1 img {
    border-radius: 12px;
}

.box2 {
    background-color: #f3f5f9;
    display: none;
}

.box2 .box-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.box2 .box-icon {
    width: 60px;
    height: 60px;
}

.box3 {
    background-color: #f3f5f9;
    display: none;
}

.box3 .box-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.box3 .box-icon {
    width: 60px;
    height: 60px;
}


.box4 {
    display: none;
}

.box4 img{
    border-radius: 12px;
}

@media (min-width: 640px) {

    .hero-container .text-content h1.name {
        font-weight: 400;
        line-height: 1.4;
        font-size: 36px;
        margin-bottom: 0px;
    }

    .hero-container .text-content h1 {
        font-weight: 400;
        line-height: 1.4;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .two-by-two {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        width: 100%;
    }

    .box2 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .box3 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }



    .box4 {

        display: block;
    }

    /* Move left column (boxes 1 & 3) downward */
    .two-by-two .box:nth-child(1),
    .two-by-two .box:nth-child(3) {
        transform: translateY(20px);

    }
}

@media (min-width: 768px) {
    header #menuToggle {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
    }

    .hero-container .text-content {
        width: 80%;
    }


    .two-by-two {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        width: 80%;
    }



}

@media (min-width: 1024px) {
    .hero-container {
        flex-direction: row;
    }

    .hero-container .text-content {
        width: 45%;
    }


    .two-by-two {
        width: 50%;
    }
}